@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'components/movie-card.scss';
@import 'components/navigation.scss';
@import 'about.scss';
$header-color: #171717;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color: $body-color;
    font-family: $body-font;
}
h1, h2 {
    color: $main-text-color;
    font-family: $body-font;
}
nav {
    background-color: $header-color;
}
p {
    color: $main-text-color;
}
a {
    color: $main-text-color;
    text-decoration: none;
}
a:hover {
    color: $my-yellow;
    font-weight: bold;
    text-decoration: none;
}
.webcontainer {
    position: relative;
    min-height: 100vh;
}
/* Portfolio page */
.portfolioContent {
    padding: 20px;
}
/* footer */
footer {
    font-family: $nav-font;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 16px 16px 36px;

    height: 46px;
    right: 0px;
    left: 0px;
    background-color: $header-color;
    bottom: 0;
    .footer-text {
        top: 50%;
        margin-left: 0px;
    }
}