@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$header-color: #171717;
$body-color: #181818;
$my-red: #D62503;
$my-yellow: #FFE812;
$main-text-color: white;
$nav-font: 'Roboto Condensed', sans-serif;
$brand-font: 'Roboto Condensed', sans-serif;
$body-font: 'Rubik', sans-serif;

/* Navigation bar */
.menu {
    max-width: 100vw;
    .topNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 16px 16px 0px;
    
        height: 74px;
        left: 0px;
        top: 0px;
        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin-right: 36px;
        margin-left: 30px;
        .brand {
            display: inline-block;
            flex-grow: 1;
            vertical-align: middle;
            .menu-index {
                font-family: $brand-font;
                font-size: 28px;
                margin-left: 8px;
                display: inline-block;
            }
        }
        .socialsContainer {
            position: relative;
            .socials {
                display: inline-block;
                .toLinkedIn {
                    display: inline-block;
                    font-family: $body-font;
                    font-size: 14px;
                    vertical-align: middle;
                    margin-left: 12px;
                }
                .toGithub {
                    display: inline-block;
                    font-family: $body-font;
                    font-size: 14px;
                    vertical-align: middle;
                    margin-left: 12px;
                }
            }
        }
    }
}
.bottomNav {
    font-family: $nav-font;
    color: $main-text-color;
    font-size: 16px;
    margin: auto;
    text-align: center;
    height: 38px;
    align-items: center;
    .menu-about, .menu-portfolio, .menu-contact, .menu-resume {
        margin: 0px 16px;
        cursor: pointer;
    }
}
.toGithub .img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}
.toLinkedIn .img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}