<div class="aboutMe">
  <img src="/assets/images/PFP.jpg" width="169px" height="169px">
  <div class="aboutHeading">
    <img src="/assets/images/action-logo.svg" alt="cutTheCameras">
    <h2>Hello there!</h2>
     <img src="/assets/images/action-logo.svg" alt="cutTheCameras">
  </div>
  <p>I’m Laura, a UX/UI designer, software engineer and movie enthusiast based in Portland, OR.</p>
  <p>I enjoy collaborating with clients to create memorable web experiences from first consultation to final design and/or website launch!</p>
  <p>My skills include User Research, Wireframing, Prototyping, Figma, Adobe Illustrator, and Miro. I like to work with HTML, CSS, JavaScript, Ember.js, and Bootstrap web technologies.</p>
</div>